body {
    background-color: gray;
}

span {
    border: black;
    background-color: white;
    border-radius: 10px;
    margin: 3px;
    display: inline-block;
}

span > span {
    padding: 2px;
}

span a {
    font-size: 1.5em;
    font-weight: 500;
}